body {
	background: url(../images/wallpaper.png) no-repeat top center;
	background-size: 100% auto;
}

.comet-landing {
	text-align: center;
	height: calc(25vh - 2.4rem);
	padding-bottom: 9rem
}

.comet-landing h1 {
	font-weight: 600;
}

.md-content__inner {
	padding-top: 5rem
}

.md-content__button {
	display: none;
}

.md-footer {
	display: none;
}

.comet-center {
	text-align: center;
}

p {
	margin: 1em 0 2.5em
}

.comet-landing a {
	font-weight: 500;
}

.comet-landing a:hover {
	text-decoration: underline
}

.comet-landing a.arrow-link::after {
	content: "→";
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
	transition: margin 0.2s ease-in-out;
}

.comet-landing a.arrow-link:hover::after {
	margin-left: 0.5em;
	margin-right: 0em;
}

.comet-landing nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 1lh;
}

.comet-landing nav > * {
	flex-shrink: 0;
	flex-grow: 0;
}