body {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

[data-md-color-primary="white"] {
    --md-typeset-a-color: var(--md-accent-fg-color);
}

/* Search bar, button & overlay */
.md-overlay {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background-color: rgba(0,0,0,.65)
}

.md-search__overlay {
    background-color: rgba(0,0,0,.15);
    top: 2.4rem;
}

.md-search-result__meta {
    background-color: var(--md-accent-fg-color);
    color: #ffffff
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__output {
    box-shadow: none;
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__input {
    box-shadow: none;
    background-color: rgba(0,0,0,.07);
    border-radius: 0;
}

[data-md-color-primary="white"] .md-search__input:hover {
    background-color: rgba(0,0,0,.1)
}

[data-md-color-primary="white"] .md-search__input + .md-search__icon {
    color: #acacac
}

.md-search {
    padding: 0
}

.md-search__inner {
    padding: 0
}

.md-search__input {
    border: 0;
    height: 2.4rem;
    transition: none;
}

.md-search__form .md-icon {
    top: 0.6rem;
}

.md-search__options {
    top: 0.6rem;
}

.md-search__form {
    height: 2.4rem;
    border-radius: 0
}

.md-search__output {
    top: 2.4rem;
    border-radius: 0;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.4)
}

/* Header */

.md-header {
    border-bottom: .05rem solid var(--md-default-fg-color--lightest);
    color: #5a5a5a
}

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 .2rem rgba(0,0,0,0),0 .2rem .4rem rgba(0,0,0,0);
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s
}

.md-header__button.md-logo {
    border-left: .05rem solid var(--md-default-fg-color--lightest);
    border-right: .05rem solid var(--md-default-fg-color--lightest);
    padding: 0;
    margin: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-color: var(--md-accent-fg-color--transparent)
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 11.5%;
    left: 11%
}

.md-header__title {
    margin-left: 0.6rem;
    font-weight: 400;
}

.md-header__source {
    margin-left: 0.15rem;
}

/* Tables */

.md-typeset table:not([class]) {
    border: .05rem solid var(--md-default-fg-color--lightest);
    box-shadow: none;
    border-radius: .35rem
}

.md-typeset table:not([class]) th {
    background-color: var(--lt-color-gray-100);
    color: var(--lt-color-gray-800);
    font-weight: 600;
    border-left: .05rem solid var(--md-default-fg-color--lightest);
    border-bottom: .05rem solid var(--md-default-fg-color--lightest);
}

.md-typeset table:not([class]) th:nth-child(1) {
    border-left: 0
}

.md-typeset table:not([class]) td {
    border-left: .05rem solid var(--md-default-fg-color--lightest);
}

.md-typeset table:not([class]) td:nth-child(1) {
    border-left: 0
}

/* Navigation */

.md-nav__item .md-nav__link--active {
    font-weight: 600
}

.md-typeset a {
    font-weight: 600;
}

.md-top {
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin: 1.2rem 1.2rem 1.2rem 1.2rem
}

/* Announcement header */

.md-announce {
    background-color: #ffffff;
    border-bottom: .05rem solid var(--md-default-fg-color--lightest)
}

.md-announce__inner {
    color: #5a5a5a
}

.md-announce__inner a {
    color: var(--md-accent-fg-color);
}

/* Footer */

.md-footer {
    border-top: .05rem solid var(--md-default-fg-color--lightest);
    background-color: #ffffff;
    color: var(--md-accent-fg-color);
}

.md-footer-meta {
    border-top: .05rem solid var(--md-default-fg-color--lightest);
    background-color: #ffffff;
    color: #5a5a5a;
}

.md-footer-copyright__highlight {
    color: #5a5a5a;
}

.md-footer-copyright {
    color: #5a5a5a;
}

html .md-footer-meta.md-typeset a {
    color: var(--md-accent-fg-color);
}

.md-footer__direction {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
}

/* Admonition */

.md-typeset .admonition {
    border-radius: 0.4rem;
    border: .05rem solid var(--md-default-fg-color--lightest);
    box-shadow: none;
}

/* Typesets */
.md-typeset h1 {
    margin: 1.25em 0 0.15em;
    color: var(--md-accent-fg-color);
    font-weight: 500
}

.md-ellipsis {
    font-weight: 500
}

.md-typeset h2 {
    font-weight: 400
}

.md-source-date {
    font-weight: 600
}

p {
    margin: 1em 0 0.5em;
}

/* Syntax Theme: Quiet Light */

.md-typeset code {
    background-color: #F5F5F5;
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.4em;
    padding: 0.1rem 0.25rem 0.1rem 0.25rem;
}

:root > * {
    --md-code-hl-number-color: #9C5D27;
    --md-code-hl-function-color: #AA3731;
    --md-code-hl-constant-color: #9C5D27;
    --md-code-hl-keyword-color: #4B69C6;
    --md-code-hl-string-color: #448C27;
    --md-code-hl-name-color: #7A3E9D;
    --md-code-hl-operator-color: #777777;
    --md-code-hl-punctuation-color: #777777;
    --md-code-hl-comment-color: #AAAAAA;
    --md-code-hl-generic-color: #777777;
    --md-code-hl-variable-color: #7A3E9D;
    --md-code-bg-color: #F5F5F5;
    --md-code-fg-color: #7A3E9D;
    --md-code-hl-color: #C9D0D9;
}  

.highlight .cp, .cpf, .c1 {
    font-style: italic
}

.highlight .kc {
    color: #9C5D27;
}